* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #0869C2;
    margin: 0;
}

header {
    top: 0;
    width: 100%;
    height: 20%;
    background-color: #0759A5;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 1em% 35%;
}

img {
    padding: 0.3em 0 0.1em;
    height: 1.3em;
    filter: opacity(0.5);
}


h2 {
    color: #fff;
    width: 100%;
    font-size: 1.3em;
    margin: 0.8em 0.8em 0.4em 0.8em;
}

    button,
#inputName,.textAreaCard, #btnSaveName {
    outline: none;
    border-radius: 5px;
    border: none;
}

#btn {
    background-color: #0759A5;
    color:#FFF;
    padding: 1em;
    font-size: 0.9em;
    text-align: left;
    width: 100%;
    margin:0%;
}

#btn::placeholder {
    color:white;
}

#btn:hover {
    background-color: #064987;
}

#inputName {
    background-color:#FFF;
    color: #000;
    padding: 1em;
    margin: 0.1em;
    font-size: 0.9em;
    text-align: left;
    width: 98.5%;
    display: block;
}

#btnSaveName, #addCardButton {
    background-color: #0cad34;
    color:#FFF;
    padding: 0.7em;
    outline: none;
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    margin: 0.3em 0.3em 0;
    width: 30%;
}

#btnSaveName:hover, #addCardButton:hover {
    background-color: #078f27;
}

/* habilita input */
.enable-menu {
    margin:0;
	display:block;
}

/* deshabilita input */
.disable-menu {
	display:none;
}

.fa {
    color: #8f8f8f;
}

#form {
    padding: 0;
}

.contenedor {
    margin: 0.8em;
    display: inline-block;
    width: 20em;
}

#addListName, #saveListName {
    border-radius: 5px;
    border: none;
    background-color:#E1E3E5;
    height: auto;
}


h3 {
    margin-left: 0.3em;
    font-size: 1em;
}

#btnNewCard {
    font-size: 0.9em;
    color: #757575;
    margin-bottom: 0.3em;
    background-color: #E0E2E4;
}

#btnNewCard:hover {
    text-decoration: underline;
    color: #535353;
}

.textAreaCard {
    width: 100%;
}